{% extends '../base.html' %}


{% block csslink%}
<link href="/assets/css/guestbook.css" rel="stylesheet" type="text/css">
{% endblock %}

		{% block content %}
		<div id="contents">
			<div id="guestbook">
				<form action="/guestbook/" method="post">{% csrf_token%}
					<table>

						<tr>
							<td>이름</td><td><input type="text" name="name"></td>
							<td>비밀번호</td><td><input type="password" name="password"></td>
						</tr>
						<tr>
							<td colspan=4><textarea name="content" id="content"></textarea></td>
						</tr>
						<tr>
							<td colspan=4 align=right><input type="submit" VALUE=" 확인 "></td>
						</tr>
					</table>
				</form>
				<ul>
					<li>
						{% for guestbook in guestbooks%}
						<table>
							<tr>
								<td>{{guestbook.id}}</td>
								<td>{{guestbook.name}}</td>
								<td>{{guestbook.reg_date}}</td>
								<td><a href="/guestbook/delete/{{guestbook.id}}">삭제</a></td>
							</tr>
							<tr>
								<td colspan=4>
									{{guestbook.content}}
								</td>
							</tr>
						</table>
						{% endfor %}
						<br>
					</li>
				</ul>
			</div>
		</div>
		{% endblock %}
