
{% extends '../base.html' %}
{% load django_template_maths %}
{% block csslink%}
<link href="/assets/css/board.css" rel="stylesheet" type="text/css">
{% endblock %}

		{% block content %}
		<div id="content">
			<div id="board">
				<form id="search_form" action="" method="get">
					<input type="text" id="kwd" name="q" value="{{q}}">
					<input type="submit" value="찾기">
				</form>
				<table class="tbl-ex">
					<tr>
						<th>번호</th>
						<th>제목</th>
						<th>글쓴이</th>
						<th>조회수</th>
						<th>작성일</th>
						<th>&nbsp;</th>
					</tr>
					{% for board in board_list%}
					<tr>
						<td>{{ forloop.revcounter }}</td>
						<td style="text-align:left; padding-left:{{board.depth|mul:20 }}px">
							<a href="/board/view/{{ board.id }}">
							{% if board.depth != 0 %}
							<img src="/assets/images/reply.png"/>{{ board.title }}</a>
							{% else %}
							{{ board.title }}</a>
							{% endif%}

						</td>
						<td>{{ board.user.name }}</td>
						<td>{{ board.hit }}</td>
						<td>{{board.reg_date | date:'Y-m-d H:i:s'}}</td>
						<td><a href="/board/delete/{{board.id}}" class="del">삭제</a></td>
					</tr>
					{% endfor %}
				</table>

				<!-- 페이저 추가 -->

				<div class="pager">
					<ul>
						{% if page == 1%}
						<li>◀  </li>
						{% else %}
						<li><a href="/board/{{page|add:-1}}">◀</a></li>
						{% endif %}

						{% for i in i|rjust:"5" %}
						{% if page == page_view|add:forloop.counter%}
							<li class="selected"><a href="/board/{{forloop.counter}}}?q={{q}}">{{page_view | add:forloop.counter}}</a></li>
						{% else %}
							<li><a href="/board/{{forloop.counter}}?q={{q}}">{{page_view | add:forloop.counter}}</a></li>
						{% endif%}

						{% endfor %}


						{% if page < total_page_no %}
						<li><a href="/board/{{page|add:+1}}}?q={{q}}">▶</a></li>
						{% else %}
						<li>▶</li>
						{% endif %}
					</ul>
				</div>

				<div class="bottom">
					<a href="/board/write" id="new-book">글쓰기</a>
				</div>				
			</div>
		</div>

		{% endblock %}
