
{% extends '../base.html' %}

{% block csslink%}
<link href="/assets/css/board.css" rel="stylesheet" type="text/css">
<script	src="/assets/js/jquery/jquery-1.9.0.js"></script>
<script>
	if (response.result == "success") {
		alert("업데이트성공")
		return;
	}
</script>
{% endblock %}

		{% block content %}
		<div id="content">
			<div id="board" class="board-form">
				<table class="tbl-ex">
					<tr>
						<th colspan="2">글보기</th>
					</tr>
					<tr>
						<td class="label">제목</td>
						<td>{{board.title}}</td>
					</tr>
					<tr>
						<td class="label">내용</td>
						<td>
							<div class="view-content">
								{{board.content|linebreaks}}
							</div>
						</td>
					</tr>
				</table>
				<div class="bottom">
					<a href="/board">글목록</a>
					<a href="/board/modify/{{board.id}}">글수정</a>
					<a href="/board/{{board.id}}/reply">답글</a>
				</div>
			</div>
		</div>
		{% endblock %}
